<div class="agenda">
  <div class="next-page">
    <a href="/agenda?lang=en">English version</a>
    <%= link_to "fotos", root_path %>
    <%= link_to "mapa", map_path %>
    <a class="download" download="agenda.pdf" href=<%=image_path("agenda_en_final.pdf")%>>pdf</a>
  </div>
  <table>
    <thead>
      <tr>
        <th colspan="2">Viernes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>18:30</td>
        <td class="food">Llegada</td>
      </tr>
      <tr>
        <td>19:00</td>
        <td class="food">Cena<span class="legend restaurant">1<span></span></span></td>
      </tr>
      <tr>
        <td>20:00</td>
        <td class="food">Bienvenida<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>20:15</td>
        <td class="food">Abertura - Gaby y Leslie<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>20:45</td>
        <td class="food">LATAM<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>21:00</td>
        <td class="food">Banda de pueblo y Canelazo<span class="legend quilotoa">6<span></span></span></td>
      </tr>
    </tbody>
  </table>


  <table>
    <thead>
      <tr>
        <th colspan="2">S&aacute;bado</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>07:00</td>
        <td class="food">Desayuno<span class="legend restaurant">1<span></span></span></td>
      </tr>
      <tr>
        <td>09:00</td>
        <td class="keynote">GCG<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td>10:40</td>
        <td class="keynote">Keynote P3<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td>11:50</td>
        <td class="keynote es">OSCI<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td class="food">Almuerzo<span class="legend restaurant">1<span></span></span></td>
      </tr>
      <tr>
        <td>14:30 - 16:20</td>
        <td class="talk">Espacio TW Chile<span class="legend cayambe">4<span></span></span></td>
      </tr>
      <tr>
        <td>14:30 - 15:40</td>
        <td class="talk">Workshop: Ahora y el Futuro<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td>14:30 - 15:00</td>
        <td class="talk es-pt">Docker para desarolladores<span class="legend tungurahua">2<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk es-pt">Medio Alternativos de Comunicaci&oacute;n<span class="legend pichincha">5<span></span></span></td>
      </tr>
      <tr>
        <td>15:10 - 15:40</td>
        <td class="talk en">Pruebas automatizadas de aprovisionamiento<span class="legend tungurahua">2<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk en">Reclutamiento Agil: Potencia tu experiencia entrevistando<span class="legend pichincha">5<span></span></span></td>
      </tr>
      <tr>
        <td>15:50 - 16:20</td>
        <td class="talk es-pt">Monitorizaci&oacute;n de aplicaciones en la nube<span class="legend tungurahua">2<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk es-pt">Flexbox - una nueva forma de construir interfaces<span class="legend pichincha">5<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk es-pt">Desarrollo de Carrera<span class="legend cayambe">4<span></span></span></td>
      </tr>
      <tr>
        <td>16:30 - 17:00</td>
        <td class="game">Trompos<span class="legend tungurahua">2<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">40<span class="legend tungurahua">2<span></span></span></td>
      </tr>
      <tr>
        <td>16:30 - 17:30</td>
        <td class="talk">Afinidade Organica - Espacio de intercambio<span class="legend pichincha">5<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">Quien Sabe Sabe<span class="legend cayambe">4<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">El gavilán pollero<span class="legend cancha"><span></span></span></td>
      </tr>
      <tr>
        <td>17:30</td>
        <td class="keynote en">Keynote P2<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td>20:00</td>
        <td class="food">Cena<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>21:30</td>
        <td class="food">Banda del Chavo<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>22:00</td>
        <td class="food">Karaoke y Fiesta<span class="legend quilotoa">6<span></span></span></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th colspan="2">Domingo</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td>08:00 - 10:00</td>
        <td class="food">Desayuno<span class="legend cancha"><span></span></span></td>
      </tr>
      <tr>
        <td>09:00</td>
        <td class="game">Alongamiento y automasaje<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">Campeonato de Ping Pong<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">Piscina<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>11:00</td>
        <td class="food">Casita y nos vemos en 2017<span class=""></span></td>
      </tr>
    </tbody>
  </table>
</div>
