<div class="agenda">
  <a href="/" class="title">fotos</a>
  <table>
    <thead>
      <tr>
        <th colspan="2">Viernes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>18:30</td>
        <td class="food">Llegada</td>
      </tr>
      <tr>
        <td>19:00</td>
        <td class="food">Cena<span class="restaurant"></span></td>
      </tr>
      <tr>
        <td>20:00</td>
        <td class="food">Bienvenda<span class="quilotoa"></span></td>
      </tr>
      <tr>
        <td>20:15</td>
        <td class="food">Latam<span class="quilotoa"></span></td>
      </tr>
      <tr>
        <td>21:00</td>
        <td class="food">Banda de pueblo y Canelazo<span class="quilotoa"></span></td>
      </tr>
    </tbody>
  </table>


  <table>
    <thead>
      <tr>
        <th colspan="2">S&aacute;bado</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>07:00</td>
        <td class="food">Desayuno<span class="restaurant"></span></td>
      </tr>
      <tr>
        <td>09:00</td>
        <td class="keynote">GCG<span class="cotopaxi"></span></td>
      </tr>
      <tr>
        <td>10:40</td>
        <td class="keynote">Keynote P3<span class="cotopaxi"></span></td>
      </tr>
      <tr>
        <td>11:50</td>
        <td class="keynote">OSCI<span class="cotopaxi"></span></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td class="food">Almuerzo<span class="restaurant"></span></td>
      </tr>
      <tr>
        <td>14:30 - 16:20</td>
        <td class="talk">Workshop: Ahora y el Futuro<span class="cotopaxi"></span></td>
      </tr>
      <tr>
        <td>14:30 - 15:00</td>
        <td class="talk">Docker para desarolladores<span class="tungurahua"></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk">Medio Alternativos de Comunicaci&oacute;n<span class="pichincha"></span></td>
      </tr>
      <tr>
        <td>15:10 - 15:40</td>
        <td class="talk">Pruebas automatizadas de aprovisionamiento<span class="tungurahua"></span></td>
      </tr>
      <tr>
        <td>15:10 - 15:40</td>
        <td class="talk">Reclutamiento Agil: Potencia tu experiencia entrevistando<span class="pichincha"></span></td>
      </tr>
      <tr>
        <td>15:50 - 16:20</td>
        <td class="talk">Monitorizaci&oacute;n de aplicaciones en la nube<span class="tungurahua"></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk">Flexbox - una nueva forma de construir interfaces<span class="pichincha"></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk">Desarrollo de Carrera<span class="cayambe"></span></td>
      </tr>
      <tr>
        <td>16:30 - 17:00</td>
        <td class="game">Trompos<span class="tungurahua"></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">40<span class="reventador"></span></td>
      </tr>
      <tr>
        <td>16:30 - 17:30</td>
        <td class="talk">Afinidade Organica - Espacio de intercambio<span class="pichincha"></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">Quien Sabe Sabe<span class="cayambe"></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">El gavilán pollero<span class="">Donde?</span></td>
      </tr>
      <tr>
        <td>17:30</td>
        <td class="keynote">Keynote P2<span class="cotopaxi"></span></td>
      </tr>
      <tr>
        <td>20:00</td>
        <td class="food">Cena<span class="quilotoa"></span></td>
      </tr>
      <tr>
        <td>21:30</td>
        <td class="food">Banda del Chavo<span class="quilotoa"></span></td>
      </tr>
      <tr>
        <td>22:00</td>
        <td class="food">Karaoke y Fiesta<span class="quilotoa"></span></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th colspan="2">Domingo</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>08:00 - 10:00</td>
        <td class="food">Desayuno<span class="cancha"></span></td>
      </tr>
      <tr>
        <td>09:00</td>
        <td class="food">Danza<span class="quilotoa"></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="food">Piscina<span class="quilotoa"></span></td>
      </tr>
      <tr>
        <td>11:00</td>
        <td class="food">Casita y nos vemos en 2017<span class=""></span></td>
      </tr>
    </tbody>
  </table>
