<div class="agenda">
  <div class="next-page">
    <%= link_to "photos", root_path %>
    <%= link_to "map", map_path %>
    <%= link_to "Version en Español", agenda_path %>
  </div>
  <table>
    <thead>
      <tr>
        <th colspan="2">Friday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>18:30</td>
        <td class="food">Arrival</td>
      </tr>
      <tr>
        <td>19:00</td>
        <td class="food">Dinner<span class="legend restaurant">1<span></span></span></td>
      </tr>
      <tr>
        <td>20:00</td>
        <td class="food">Welcome<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>20:15</td>
        <td class="food">Opening - Gaby y Leslie<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>20:45</td>
        <td class="food">LATAM<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>21:00</td>
        <td class="food">Banda de pueblo and Canelazo<span class="legend quilotoa">6<span></span></span></td>
      </tr>
    </tbody>
  </table>


  <table>
    <thead>
      <tr>
        <th colspan="2">Saturday</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>07:00</td>
        <td class="food">Breakfast<span class="legend restaurant">1<span></span></span></td>
      </tr>
      <tr>
        <td>09:00</td>
        <td class="keynote">GCG<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td>10:40</td>
        <td class="keynote">Keynote P3<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td>11:50</td>
        <td class="keynote es">OSCI talk<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td class="food">Lunch<span class="legend restaurant">1<span></span></span></td>
      </tr>
      <tr>
        <td>14:30 - 16:20</td>
        <td class="talk">TW Chile<span class="legend cayambe">4<span></span></span></td>
      </tr>
      <tr>
        <td>14:30 - 15:40</td>
        <td class="talk">Workshop: Now and the future<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td>14:30 - 15:00</td>
        <td class="talk es-pt">Docker for developers<span class="legend tungurahua">2<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk es-pt">Alternative Media<span class="legend pichincha">5<span></span></span></td>
      </tr>
      <tr>
        <td>15:10 - 15:40</td>
        <td class="talk en">Provisioning automated testing<span class="legend tungurahua">2<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk en">Agil recruitment: Improve your interviewing experience<span class="legend pichincha">5<span></span></span></td>
      </tr>
      <tr>
        <td>15:50 - 16:20</td>
        <td class="talk es-pt">Cloud applications monitoring<span class="legend tungurahua">2<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk es-pt">Flexbox - a new way to biuld interfaces<span class="legend pichincha">5<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="talk es-pt">Career development<span class="legend cayambe">4<span></span></span></td>
      </tr>
      <tr>
        <td>16:30 - 17:00</td>
        <td class="game">Trompos<span class="legend tungurahua">2<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">40<span class="legend tungurahua">2<span></span></span></td>
      </tr>
      <tr>
        <td>16:30 - 17:30</td>
        <td class="talk">Organic Affinity - Exchange space<span class="legend pichincha">5<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">Quien Sabe Sabe<span class="legend cayambe">4<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">El gavilán pollero<span class="legend cancha"><span></span></span></td>
      </tr>
      <tr>
        <td>17:30</td>
        <td class="keynote en">Keynote P2<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td>20:00</td>
        <td class="food">Dinner<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>21:30</td>
        <td class="food">Banda del Chavo<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>22:00</td>
        <td class="food">Karaoke and Fiesta<span class="legend quilotoa">6<span></span></span></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
    <tr>
      <th colspan="2">Domingo</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td>08:00 - 10:00</td>
        <td class="food">Picnic and Breakfast<span class="legend cancha"><span></span></span></td>
      </tr>
      <tr>
        <td>09:00</td>
        <td class="game">Stretching and self massage<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">Gran Slam Ping Pong<span class="legend cotopaxi">7<span></span></span></td>
      </tr>
      <tr>
        <td></td>
        <td class="game">Pool<span class="legend quilotoa">6<span></span></span></td>
      </tr>
      <tr>
        <td>11:00</td>
        <td class="food">Good bye<span class=""></span></td>
      </tr>
    </tbody>
  </table>
</div>
