<div class ="location">
  <div class="next-page">
    <%= link_to "agenda", agenda_path%>
    <%= link_to "fotos", root_path %>
  </div>
  <a download="map.png" title="Download map" href="/assets/map.png">
    <%= image_tag("map.png", alt: "Map") %>
  </a>
