a:hover {
  font-weight: bold;
}

div.agenda {
    background-color: white;
    width: 70%;
    margin-left: 15%;
}

.agenda .next-page a.download {
  border: none;
  font-size: 10px;
  margin-left: 0;
  float: right;
  margin-right: 4%;
}

.agenda a,
.location a{
    margin-top: 0px;
    position: relative;
    margin-left: 50px;
}

.food {
    background: linear-gradient(180deg, #FFFFFF 10%, #fcde6e 0%);
}

.keynote {
    background: linear-gradient(180deg, #FFFFFF 10%, #c798d2 0%);
}

.talk {
    background: linear-gradient(180deg, #FFFFFF 10%, #f59799 0%);
}

.game {
    background: linear-gradient(180deg, #FFFFFF 10%, #cbeffa 0%);
}

.legend {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  display: block;
  margin-top: 10px;
  text-align: center;
  background: #fcde6e none repeat scroll 0% 0%;
}

.legend span::after {
    background: transparent;
    margin-left: 10px;
    position: absolute;
}

.restaurant span::after {
    content: "Restaurant";
}

.quilotoa span::after {
    content: "Quilotoa";
}

.cotopaxi span::after {
    content: "Cotopaxi";
}

.cayambe span::after {
    content: "Cayambe";
}

.tungurahua span::after {
    content: "Thungurahua";
}

.pichincha span::after {
    content: "Pichincha";
}

.cancha span::after {
    content: "Soccer field";
    width: 100px;
}

@media (max-width: 640px) {
    .agenda, .location,
    .agenda .next-page a,
    .location .next-page a{
        font-size: 4vw;
        margin-left: 5%;
        top: -25px;
    }

    div.agenda {
        width: inherit!important;
        margin: inherit!important;
    }

    .agenda .next-page {
        height: auto;
    }

    span.legend,
    .legend span::after {
      font-size: 2.5vw;
    }

    .main .hashtag {
        position: inherit;
        margin: 0;
        font-size: inherit;
    }

    .flexslider .slides .text {
        font-size: 2vw;
    }

    .flexslider .slides .text {
        font-size: 1.8vw;
    }
/*    @-moz-document url-prefix() {
        .legend {
            width: 10px;
            height: 10px;

        }
    }*/
}

table {
    width: 100%;
    color: black;
}

thead {
    background: linear-gradient(180deg, #FFFFFF 10%, #a7e0bc 0%);
}

tbody td {
    padding: 5px;
}

tbody tr:hover {
    background-color: #f5f5f5
}

th, td {
    border-bottom: 30px solid white;
}

tr td:first-child {
    vertical-align: top;
    width: 30%;
    text-align: right;
}

/* Location */
.location img {
    width: 400px;
    margin-top: 10px
}

.location .next-page {
  height: auto;
}
