@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,400italic,300italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);

@font-face {
    font-family: aPapa;
    src: url(APAPA.TTF);
}

body {
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    color: #FFF;
    background-color: #000000;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    border: 0;
    overflow: hidden;
}

.right {
    float: left;
    width: 25%;
    height: 100%;
}

.left {
    float: right;
    width: 75%;
    height: 100%;
    margin: 20px;
    overflow: hidden;
}

.hashtag-title {
    text-decoration: none;
    z-index: 1000;
    background-color: #000000;
    opacity: 0.8;
    position: fixed;
    width: 26%;
    height: 90%;
    margin-left: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.hashtag-title:hover {
    background-color: #000000;
    opacity: 0.5;
    text-decoration: none;
    /*maybe change font color*/
    /*color: #ff4a4a;*/
}

.logo-ecuador {
    position: absolute;
    right: 5%;
    top: 17%;
}

/*import to a global div*/
.title {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1;
    font-style: normal;
    color: #f16254;
    opacity: 1;
    margin-top: 470px;
    margin-left: 0px;
}

.country {
    color: #f16254;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 0.3;
    text-align: left;
    margin-left: 160px;
    font-style: normal;
    text-transform: uppercase;
    opacity: 1;
}

#logo {
    text-align: left;
    width: 80%;
    height: 80%;
}

#logo img {
    position: absolute;
    top: 90%;
    left: 44%;
    height: 40px;
}

.hashtag {
    position: absolute;
    top: 91%;
    color: #7eb49d;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: italic;
    line-height: 2;
    margin-left: 50px;
    height: 60px;
    font-size: 16px;
}

.cls-1, .cls-3, .cls-4 {
    fill: #7eb49d;
}

.cls-2 {
    fill: none;
    stroke: #7eb49d;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 6.9px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}

.cls-3 {
    font-size: 86.23px;
    font-family: aPapa;
}

.cls-4 {
    font-size: 76.98px;
    font-family: "PT Serif";
    letter-spacing: 10px;
}

.cls-5 {
    font-size: 120px;
    fill: #7eb49d;
    font-family: "PT Serif";
    font-weight: 700;
}

.cls-6 {
    letter-spacing: -11px;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#posts-list {
    width: 100%;
    overflow: hidden;
    margin-bottom: -1.875em;
    width: 100%;
    margin-left: 2%;
}

h1 {
    color: #000;
    text-align: center;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: italic;
    line-height: 2;
    margin: 0;
}

/*a {*/
/*color: rgb(234, 234, 234);*/
/*text-decoration: none;*/
/*font-weight: 200;*/
/*}*/

/*a:hover {*/
/*text-decoration: underline;*/
/*}*/

/*a#hashtag-anchor {*/
/*display: block;*/
/*position: relative;*/
/*top: -250px;*/
/*visibility: hidden;*/
/*-webkit-transition: all .2s ease-in-out;*/
/*-moz-transition: all .2s ease-in-out;*/
/*-ms-transition: all .2s ease-in-out;*/
/*-o-transition: all .2s ease-in-out;*/
/*transition: all .2s ease-in-out;*/
/*}*/

.post-text > iframe {
    margin-top: 20px;
}

.youtube-video {
    height: 200px;
    margin: 0.5em;
}

.vine-video {
    display: block;
    margin: auto;
}

.post-container {
    margin: 5px 5px;
    width: 30%;
    text-align: center;
    width: 92%;
    float: left;
    padding: 1.5% .75%;
    margin: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.post-picture img {
    width: 60%;
}

.post-container section {
    margin: 11px 0 0 0;
}

.post-text {
    font-style: italic;
    font-size: 22px;
}

.post-username {
    font-weight: bold;
    font-size: 14px;
}

.post-id {
    display: none;
}

.avatar {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

.post-created-at {
    font-size: 11px;
    display: inline-block;
}

.post-created-at i {
    margin-right: 5px;
}

.footer {
    display: block;
    color: rgb(38, 189, 207);
    margin-top: 30px;
    text-align: center;
}

.footer a {
    color: rgba(80, 136, 251, 1);
}

/*ThoughtWorks Magenta*/
.background-color-1 {
    background: rgb(177, 28, 84);
}

/*ThoughtWorks Turquoise*/
.background-color-3 {
    background: rgb(128, 201, 210)
}

/*ThoughtWorks Orange*/
.background-color-2 {
    background: rgb(247, 143, 49);
}

/*ThoughtWorks Green  */
.background-color-4 {
    background: rgb(181, 185, 53);
}

#last_page_requested {
    display: none;
}

@media ( min-width: 768px ) {

    h1 {
        margin: 10px 0 10px 0;
    }

    .post-container {
        width: 45.876%;
        margin: 5px;
    }

    #posts-list {
        padding-left: 0;
    }
}

@media ( min-width: 992px ) {

    h1 {
        margin: 15px 0 15px 0;
    }

    #posts-list {
        padding-left: 0;
        width: 100%;
        overflow: hidden;
        margin-bottom: -1.875em;
    }

    .post-container {
        text-align: center;
        width: 30%;
        float: left;
        margin: 5px;
    }
}


