@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,400italic,300italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);

@font-face {
    font-family: aPapa;
    src: url(https://dl.dropboxusercontent.com/u/72193719/APAPA.TTF);
}

body {
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    color: #FFFFFF;
    background-color: #101010;
    margin: 0px;
    padding: 0px;
    border: 0;
    /*overflow: hidden;*/
}

.main {
    line-height: 24px;
    display: flex;
    height: 100vh;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
}

.hashtag-title {
    text-decoration: none;
    z-index: 1000;
    opacity: 0.8;
    position: fixed;
    width: 26%;
    height: 100%;
    margin-left: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.next-page {
    width: 100%;
    margin-top: 50px;
    text-transform: uppercase;
}

.logo-ecuador {
    position: absolute;
    margin-top: 50px;
    width: 100%;
}

.info {
    width: 100%;
    margin-top: 400px;
    display: block;
}

.responsive-box {
    display: none;
}

/*import to a global div*/
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1;
    font-style: normal;
    color: #f16254;
    opacity: 1;
    margin-left: 100px;
    position: absolute;
}

.country {
    color: #f16254;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 0.3;
    text-align: left;
    margin-left: 160px;
    margin-top: 80px;
    font-style: normal;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
}

.hashtag-title a {
    position: relative;
    margin-left: 50px;
    text-decoration: none;
    font-size: 1.7vw;
    border: 1px solid #f16254;
    padding: 5px;
    color: #f16254;
    background-color: #101010;
}

#logo {
    text-align: left;
    width: 100%;
}

#logo img {
    position: absolute;
    height: 40px;
    margin-top: 100px;
    margin-left: 200px;
}

.hashtag {
    position: absolute;
    color: #7eb49d;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: italic;
    line-height: 2;
    margin-top: 105px;
    margin-left: 50px;
    height: 60px;
    font-size: 1.2vw;
}

.cls-1, .cls-3, .cls-4 {
    fill: #7eb49d;
}

.cls-2 {
    fill: none;
    stroke: #7eb49d;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 6.9px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}

.cls-3 {
    font-size: 7vw;
    font-family: aPapa;
}

.cls-4 {
    font-size: 6vw;
    font-family: "PT Serif";
    letter-spacing: 10px;
}

.cls-5 {
    font-size: 8vw;
    fill: #7eb49d;
    font-family: "PT Serif";
    font-weight: 700;
}

.cls-6 {
    letter-spacing: -11px;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#posts-list {
    width: 100%;
    overflow: hidden;
    margin-bottom: -1.875em;
    width: 100%;
    margin-left: 2%;
}

h1 {
    color: #000;
    text-align: center;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: italic;
    line-height: 2;
    margin: 0;
}

.post-text > iframe {
    margin-top: 20px;
}

.youtube-video {
    height: 200px;
    margin: 0.5em;
}

.vine-video {
    display: block;
    margin: auto;
}

.post-container {
    margin: 5px 5px;
    width: 30%;
    text-align: center;
    width: 92%;
    float: left;
    padding: 1.5% .75%;
    margin: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.post-picture img {
    width: 60%;
}

.post-container section {
    margin: 11px 0 0 0;
}

.post-text {
    font-style: italic;
    font-size: 2vw;
}

.post-username {
    font-weight: bold;
    font-size: 2vw;
}

.post-id {
    display: none;
}

.avatar {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

.post-created-at {
    font-size: 2vw;
    display: inline-block;
}

.post-created-at i {
    margin-right: 5px;
}

.footer {
    display: block;
    color: rgb(38, 189, 207);
    margin-top: 30px;
    text-align: center;
}

.footer a {
    color: rgba(80, 136, 251, 1);
}

/*ThoughtWorks Magenta*/
.background-color-1 {
    background: rgb(177, 28, 84);
}

/*ThoughtWorks Turquoise*/
.background-color-3 {
    background: rgb(128, 201, 210)
}

/*ThoughtWorks Orange*/
.background-color-2 {
    background: rgb(247, 143, 49);
}

/*ThoughtWorks Green  */
.background-color-4 {
    background: rgb(181, 185, 53);
}

#last_page_requested {
    display: none;
}

a {
    text-decoration: none;
}

@media ( min-width: 768px ) {



    h1 {
        margin: 10px 0 10px 0;
    }

    .post-container {
        width: 45.876%;
        margin: 5px;
    }

    #posts-list {
        padding-left: 0;
    }
}

@media ( min-width: 992px ) {

    h1 {
        margin: 15px 0 15px 0;
    }

    #posts-list {
        padding-left: 0;
        width: 100%;
        overflow: hidden;
        margin-bottom: -1.875em;
    }

    .post-container {
        text-align: center;
        width: 30%;
        float: left;
        margin: 5px;
    }
}


@media (max-width: 1100px) {
    .main {
        flex-direction: column;
    }
    .slides {
        margin-top: 20px;
    }
    .left {
        order: 1;
        display: none;
    }

    .right {
        order: 0;
    }
    .right .responsive-box {
        display: inline;
    }

    .right .responsive-box  .responsive-title {
        color: #f16254;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        letter-spacing: -1px;
        line-height: 1;
        font-style: normal;
        opacity: 1;
        margin-bottom: 10px;
        font-size: 48px;
        font-weight: 500;
        text-align: left;
    }

    .right .responsive-box  a {
        color: #f16254;
        border: 1px solid #f16254;
        padding: 4px;
    }

}
