.flexslider .slides {
    height: 100%;
    background: #101010;
}

.flexslider .slides li {
    height: 100%;
}

.flexslider .slides img {
    height: 100%;
    margin: 0 auto;
}

.flexslider .slides .post-data {
    margin: 0 auto;
    margin-left: 600px;
    margin-top: 150px;
    text-align: left;
    margin-bottom: 10px;
    width: 400px;
    position: absolute;
    top: 47%;
    background-color: #f16254;
    opacity: 0.7;
    padding: 10px 10px 10px 15px;
    color: #FFFFFF;
}

.flexslider .slides a {
    color: #097AC0;
}

.flexslider .slides .author {
    font-weight: bold;
    font-size: 18px;
    margin-right: 4px;
    color: #FFFFFF;
    text-decoration: none;
}

.flexslider .slides .text {
    color: #FFFFFF;
    display: inline;
}

.flex-control-paging li {
    display: none;
}

.flex-control-paging li:nth-last-child(-n + 20) {
    display: inline-block;
}