.flexslider .slides {
    height: 100%;
    background: #101010;
}

.flexslider .slides li {
    height: 100%;
}

.flexslider .slides img {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.flexslider .slides .post-data {
    text-align: right;
    width: 450px;
    position: absolute;
    background-color: #f16254;
    opacity: 0.8;
    padding: 7px 10px 10px 15px;
    color: #FFFFFF;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: 0 1px 0 black;
    bottom: 10%;
    right: 5%;
}

.flexslider .slides a {
    color: #FFFFFF;
    text-decoration: none;
}

.flexslider .slides .author {
    font-weight: bold;
    font-size: 1.7vw;
    margin-right: 4px;
    color: #FFFFFF;
    text-decoration: none;
}

.flexslider .slides .text {
    color: #FFFFFF;
    display: inline;
    font-size: 1.2vw;
}

.flex-control-paging li {
    display: none;
}

.flex-control-paging li:nth-last-child(-n + 20) {
    display: inline-block;
}

@media (max-width: 1100px) {
    .flexslider .slides .post-data {
        width: 90%;
        bottom: auto;
        left: 3%;
        line-height: 0.7;
        padding: 8px;
    }
}